.tabs {
    position: relative;
    list-style: none;
    padding: 0;
    margin-left: 25px;
}

.tabs li::before {
    content: "";
    display: block;
    height: 245px;
    margin: -245px 0 0;
}

.trigger {
    display: block;
    padding: 0 .5em;
    width: 4em;
    color: #aaa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.content {
    display:none;
    padding: 0 .5em;
}

li:target .content,
li:last-child .content{
    display: block;
}

li:target .trigger,
li:last-child .trigger{
    color: #000;
}

li:target ~ li:last-child .content {
    display: none;
}

li:target ~ li:last-child .trigger {
    color: #aaa;
}

h1{
    font-size: larger;
}

h3{
    font-size: large;
    margin-top: 30px;
    margin-bottom: 10px;
}

a{
    color: inherit;
    font-size: 24px;
}

.content > ul > table:nth-child(2n+1) {
    clear: both;
}

.content > ul > table:nth-child(2n) {
    margin-left: 5%;
}

table{
    text-align: left;
    margin: 0;
    border-collapse: collapse;
    float: left;
    width: 45%;
}
caption{
    text-align: left;
}

td{
    padding: 5px 50px 5px 5px;
    margin: 0px 0px 0px 0px;
}

tr{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.dark > td{
    background-color: lightgrey;
}
.bright{
    background-color: ivory;
}

form {
    background: rgba(4,142,204,0.8);
    margin-left: 25px;
    position: relative;
    width: 400px;
    height: auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
    width: 100%;
    display: block;
    border-radius: 5px;
    border-style: none;
    padding: 3px;
}

input[placeholder]{
    color: darkgrey;
}

input[value]{
    color: black;
}

input[type="submit"]{
    background-color: lightgrey;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="submit"]{
    color: black;
    font-weight: bold;
    border-style: none;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: rgba(0,0,0,0.9);
    cursor: pointer;
}

#reservation div{
    padding: 0;
}

p{
    padding-top: 10px;
}

.menuitem a{
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    text-transform: none;
}

.resFooter{
    background: rgba(0,0,0,0.8);
    color: #FFF;
    width: 100%;
}

@media only screen and (max-width:756px){
    .content > ul > table:nth-child(2n+1) {
        clear: none;
    }

    .content > ul > table:nth-child(2n) {
        margin: 0;
    }
    
    table {
        float: none;
        width: 100%;
    }
    
    form {
        margin-left: 0;
        width: 100%;
    }
}