@import "compass/css3";

.tabs {
    position: relative;
    width: 25em;
    list-style: none;
    padding: 0;
    margin: auto;
}

.tabs li {
    float: left;
    margin-top: -300px;
}

.trigger {
    display: block;
    padding: 0 .5em;
    width: 4em;
    color: #aaa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.content {
    display:none;
    position: absolute;
    top: 2em;
    left: 0;
    padding: 0 .5em;
}

li:target .content,
li:last-child .content{
    display: block;
}

li:target .trigger,
li:last-child .trigger{
    color: #000;
}

li:target ~ li:last-child .content {
    display: none;
}

li:target ~ li:last-child .trigger {
    color: #aaa;
}

h1{
    font-size: larger;
}

h3{
    font-size: large;
    margin-top: 30px;
    margin-bottom: 10px;
}

a{
    color: inherit;
    font-size: 24px;
}


table{
    text-align: left;
    margin: 0;
    padding-right: 100px;
    border-collapse: collapse;
    float: left;
}
caption{
    text-align: left;
}

td{
    padding-right: 50px;
    margin: 0px 0px 0px 0px;
}

tr{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.dark > td{
    background-color: lightgrey;
}
.bright{
    background-color: ivory;
}

form {
    background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE);
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE);
    margin: auto;
    position: relative;
    width: 350px;
    height: auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input[type="text"]{
    width: 150px;
}

input[type="password"]{
    width: 230px;
}

input[placeholder]{
    color: darkgrey;
}

input[value]{
    color: black;
}

input[type="submit"]{
    background-color: lightgrey;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="submit"]{
    color: black;
    font-weight: bold;
}

#reservation div{
    padding: 0;
}

p{
    padding-top: 10px;
}

.menuitem a{
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    text-transform: none;
}